snippet mcb button
	<button class="btn  ${1:btn--}">{%- t('${2:label}') %}</button>
snippet mcb spinner
	<button >{%- t('${1:label}') %}</button>
snippet mcb box
	<div>${1}</div>
snippet mcbbutton
	<button class="btn  ${1:btn--}">{%- t('${2:label}') %}</button>
